:root {
  --md-theme-default-primary-on-background: #558c8c;
  --md-theme-default-primary: #558c8c;
  --md-theme-default-accent-on-background: #34252f;
}

.md-list-item-text {
  line-height: normal;
}
